<div class="postagens-container">
  <div *ngFor="let meme of currentPageMemes; let i = index" class="meme">
    <a (click)="sendMemeToComponent(meme)">
      <h3 *ngIf="meme.title">{{ meme.title }}</h3>
      <h3 *ngIf="!meme.title">Meme #{{ (currentPage - 1) * memesPerPage + i + 1 }}</h3>

      <img [src]="meme.mediaUrl || 'https://via.placeholder.com/300x200'" alt="Meme" />

      <!-- <div class="media-container">
        <img *ngIf="isImage(meme.mediaUrl)" [src]="meme.mediaUrl" alt="Meme" />
        <video *ngIf="isVideo(meme.mediaUrl)" [src]="meme.mediaUrl" controls preload="metadata"></video>
      </div> -->

      <p>{{ meme.text }}</p>
      <p class="center">
        <strong>Postado por: </strong>
        <span class="author-name">{{ meme.username || "Anônimo" }}</span>
        <img
          class="author-photo"
          [src]="meme.userPhoto || 'assets/imgs/user1.jpg'"
          alt="Foto"
        />
      </p>
    </a>
  </div>

  <div class="pagination">
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
  </div>
  <div class="floating-buttons">
    <button
      class="previous"
      (click)="previousPage()"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <button
      class="next"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages || totalPages === 0"
    >
      Próxima
    </button>
  </div>
</div>
