.postagens-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .meme {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    img {
      max-width: 100%;
      border-radius: 8px;
    }
  }

  .meme p {
    justify-content: space-between; /* Nome e foto vão para lados opostos */
    align-items: center; /* Centraliza verticalmente */
    padding-left: 15px;
    padding-right: 15px;
  }

  .center {
    display: flex;
  }
  
  .author-name {
    font-weight: bold;
    margin-right: auto; /* Força o nome a ficar à esquerda */
  }
  
  .author-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px; /* Espaço entre o nome e a foto */
  }  

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  /* Botões flutuantes nas bordas */
  .floating-buttons {
    position: relative;
    bottom: 20px; /* Distância do fundo */
    left: 20px;   /* Distância da borda esquerda */
    right: 20px;  /* Distância da borda direita */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #4caf59;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
