.postagens-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  .meme {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #333;

    h3, p {
      color: #fff;
    }

    img {
      max-width: 100%;
      border-radius: 8px;
    }
  }

  .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .author-name {
    font-weight: bold;
    margin-right: auto;
  }

  .author-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .pagination {
    margin-top: 20px;
  }

  .floating-buttons {
    margin-top: 10px;

    button {
      padding: 10px;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}
