<div class="postagens-container">
  <div *ngFor="let meme of currentPageMemes; let i = index" class="meme">
    <h3>Meme #{{ (currentPage - 1) * memesPerPage + i + 1 }}</h3>
    <p>{{ meme.text }}</p>
    <img [src]="meme.imageUrl" alt="Meme" />
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
  </div>
</div>

<!-- Botões flutuantes -->
<div class="floating-buttons">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
</div>
