header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 1000;
  flex-wrap: wrap; // Permite o conteúdo quebrar em linhas, se necessário

  &.scrolled {
    padding: 10px 40px;
    background-color: #222;
  }

  .logo {
    cursor: pointer;

    img {
      height: 50px;
      transition: all 0.3s ease;
    }
  }

  .brand-name {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    /* Alinha o texto principal e o "small" em coluna */
    align-items: center;
    /* Centraliza o texto na horizontal */
    flex-grow: 1;
    /* Permite que o nome cresça e ocupe o espaço disponível */
    text-align: center;
    /* Centraliza o texto */
    cursor: pointer;
  }

  .brand-name small {
    font-size: 12px;
    /* Tamanho menor para o "Meme4Devs" */
    font-weight: normal;
    /* Peso normal para diferenciar do título */
    color: #ccc;
    /* Tom de cinza mais claro para contraste */
    margin-top: 4px;
    /* Espaçamento entre o título e o "Meme4Devs" */
  }

  nav {
    display: flex;
    gap: 30px;
    padding-right: 65px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  nav a:hover {
    color: #4caf50;
  }

  // Media Query para telas menores, como celulares
  @media (max-width: 375px) {
    nav {
      padding-right: 0; // Zerando o padding direito em telas menores
      flex-direction: column; // Alinhando o menu em coluna
      gap: 15px; // Menor espaçamento entre os itens do menu
    }

    .brand-name {
      font-size: 16px; // Ajuste de tamanho de fonte para o mobile
    }
  }

  .falling {
    animation: fall 2s linear infinite;
  }

  .flying {
    animation: fly 5s linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(100vh);
    }
  }

  @keyframes fly {
    0% {
      transform: translate(0, 0);
    }

    25% {
      transform: translate(50vw, -50vh);
    }

    50% {
      transform: translate(-50vw, 50vh);
    }

    75% {
      transform: translate(50vw, 50vh);
    }

    100% {
      transform: translate(0, 0);
    }
  }
}
