<header [class.scrolled]="scrolled">
  <div class="logo">
    <a (click)="router.navigate(['/'])">
      <img src="assets/imgs/logo.webp" alt="Logo">
    </a>
  </div>
  <div class="brand-name" (click)="router.navigate(['/'])">
    🐛 Buguinho Memes Tech 🐞
    <small>Meme4Devs</small>
  </div>
  <nav>
    <a (click)="router.navigate(['/'])" routerLink="/" routerLinkActive="active">Início</a>
    <a (click)="router.navigate(['/sobre'])" routerLink="/sobre" routerLinkActive="active">Sobre</a>
  </nav>
</header>
