<header [class.scrolled]="scrolled">
  <div class="logo">
    <a (click)="router.navigate(['/']); scrollToTop(); trackClick()">
      <img src="assets/imgs/logo.webp" alt="Logo">
    </a>
  </div>
  <div class="brand-name">
    <span class="cai" (click)="drop()" *ngIf="!scrolled">🐛</span>Buguinho Memes Tech<span class="voa" (click)="up()" *ngIf="!scrolled">🐞</span>
    <small>Meme4Devs</small>
  </div>
  <nav>
    <a (click)="router.navigate(['/']); scrollToTop()" routerLink="/" routerLinkActive="active">Início</a>
    <!-- <a (click)="router.navigate(['/sobre'])" routerLink="/sobre" routerLinkActive="active">Sobre</a> -->
  </nav>
</header>
