<div class="sidebar">
    <!-- <div class="online-users">
        <h3>Criadores de bug online: {{ onlineUsers }}</h3>
    </div> -->
    <div class="contributors">
        <h3>Contribuintes</h3>
        <div *ngFor="let contributor of contributors" class="contributor">
            <img [src]="contributor.photo || 'assets/imgs/user1.jpg'" [alt]="contributor.name" />
            <p>{{ contributor.name }}</p>
        </div>
    </div>
    <div class="hours">
        <span title="Hora no seu navegador">{{ hours }}</span>
    </div>
</div>
